<!doctype html>
{% load static %}

<!-- °=============================° -->
<!--    °Pagina -> Plantilla base    -->
<!-- °=============================° -->

<html lang="es" data-bs-theme="auto">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="" />

    <title>{% block name_page %} NOMBRE_PAGINA {% endblock %}· RoseMetrics</title>

    <!-- IMPORTACIONES DE CSS -->
    {% include 'Importaciones/head_css.html' %}

</head>

<body>

    <!-- BARRA DE NAVEGACION -->
    {% include 'Complementos/navBar.html' %}

    <main>
        
        <!-- CARD DE CONTENIDO -->
        <div class="container-fluid my-2 px-md-5 py-3">
            <div class="row p-4 pb-3 rounded-3 border shadow-lg py-4">

                    {% block card_contenido %}
                    {% endblock %}

            </div>
        </div>

    </main>

    <!-- IMPORTACIONES DE SCRIPTS -->
    {% include 'Importaciones/body_script.html' %}

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>