{% load static %}

<!-- °======================================° -->
<!--    °HTML -> NavBar con Hamburguesa       -->
<!-- °======================================° -->

<nav class="bg-custom-1 navbar navbar-expand-md sticky-top border-bottom" data-bs-theme="dark">
  <div class="container-fluid px-4">
    
    <!-- Logo del navBar con href -->
    <a class="navbar-brand fw-bold text-white" href="{% url 'landing_page' %}">
        <span class="text-danger">Rose</span>Metrics 🌹 </a>
        
    <!-- Boton hamburguesa en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        
        <div class="bg-custom-2-1 offcanvas-header">
            <!-- Titulo de la seccion de hamburguesa -->
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones | Home</h5>
            <!-- Boton de cierre del hamburguesa -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <!-- Listado de botones ajustables entre nabBar y hamburguesa  -->
        <div class="bg-custom-2-2 offcanvas-body">
            <ul class="navbar-nav mx-auto text-center gap-3 gap-md-4">
                <li class="nav-item">
                    <a class="nav-link text-white txt-bold hover-btn" href="{% url 'landing_page' %}">Nociones matematicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white txt-bold hover-btn" href="{% url 'registrar_meses' %}">Registrar meses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white txt-bold hover-btn" href="{% url 'landing_page' %}">Optimizador</a>
                </li>
            </ul>
        </div>

    </div>

  </div>
</nav>